./target
libs/**
include/**
.cache/

# CMake build dir (default)
build/

# CMake generated junk (in case someone builds elsewhere)
**/CMakeFiles/
**/CMakeCache.txt
**/cmake_install.cmake
**/Makefile
**/compile_commands.json
